div[name="theBox"]{
    border:2px solid black; /*Bord rundt rektangelet*/
    width:100px;/*Bredde*/
    height:100px;/*Høyde*/
    display: inline-block;/*Sikrer at blokkene kommer nedover, ikke på linje*/
    padding:5px;/*boksen får 5 pixler med arm rom*/
    margin:20px;/*Boksen dytter elementer 20px vekk frea seg*/
}