.Box{
    border:2px solid black;
    width:100px;
    height:100px;
    display: inline-block;
    padding:5px;
    margin:20px;

}/*Class-en alle har*/

.square{
    width:100px;
    height:100px;
}
.rectangle{
    width:100px;
    height:200px;
}
.red{
    background-color:red;
}

.blue{
    background-color:blue;
}
.border{
    border:5px solid tomato;
}
