.Box{
    border:2px solid black; /*Bord rundt rektangelet*/
    width:100px;/*Bredde*/
    height:100px;/*Høyde*/
    display: inline-block;/*Sikrer at blokkene kommer nedover, ikke på linje*/
    padding:5px;/*boksen får 5 pixler med arm rom*/
    margin:20px;/*Boksen dytter elementer 20px vekk frea seg*/
    }

.square{
    width:100px !important;/*Lengde på boksen*/
    height:100px !important;/*Bredde på boksen*/
}
.rectangle{
    width:100px !important;/*Lengde på boksen*/
    height:200px !important;/*Bredde på boksen*/
}
.red{
    background-color:red;/*Rød bakgrun*/
}

.blue{
    background-color:blue;/*Blå bakgrun*/
}
.border{
    border:5px solid tomato;/*Tomat bakgrun*/
}
.magenta{
    background-color:magenta;

}
.cirkle{
   border-radius: 50%;
}
.yellow{
    background-color:yellow
}
