
#Body div{
    border:2px solid black; /*så vi kan se boksene uten ID*/
    width:100px;    /*Setter Bredden på Boksene*/
    height:100px;   /*Setter Høyden på Boksene*/
    margin:20px;
}

#Boks01,#Boks02,#Boks03{
    border:none;
}

#Boks01{
    margin: 20px 30px 100px 100px !important;
    background-color:rgba(255,150,90,.5);   /*Rød farge på denen boksen*/
    margin-bottom: 100px !important;
}

#Boks02{
    margin-top:100px !important;
    margin-left:170px !important;
    background-color:rgba(0,255,100,0.5);    /*Gul farge på denne boksen*/
}

#Boks03{
    margin-top:75px !important;
    margin-left:120px !important;
    background-color:rgba(100,0,255,.3);     /*Grønn farge på denne boksen*/
}