#Meny{
    width:100%;
    background-color:tomato;
}
.Menu_button{
    display:inline-block;
    padding:1em;
    color:#FFF;
}
.Menu_button:hover{
     background-color:rgb(127,49,35);

}
a{
    cursor: pointer;
}
#Body{
    padding:2px;
    width:100%;
   
}
body{
     background-color:rgba(200,200,200,.4)
}